body {
    font-family: 'Roboto', sans-serif;
}

.class-theme-light {
    background-color: #d0d0d0;
    transition: background-color 0.5s, color 0.5s;
    color: #000000F7;

}

.class-theme-dark {
    background-color: #101010;
    transition: background-color 0.5s, color 0.5s;
    color: #FFFFFFB0;
}

#id-theme-toggle {
    border: 0.3em solid;
    border-radius: 0.5em;
    background-color: #00000000;
    font-family: 'Roboto', sans-serif;
    padding: 0.1em 0.4em 0.1em 0.4em;
}

.class-theme-light #id-theme-toggle {
    border-color: #000000F7;
    color: #000000F7;
    transition: border-color 0.5s, color 0.5s;
}
.class-theme-dark #id-theme-toggle {
    border-color: #FFFFFFB0;
    color: #FFFFFFB0;
    transition: border-color 0.5s, color 0.5s;
}