.class-theme-dark {
    background-color: #202020;
    color: #FFFFFFB0;
    transition: background-color 0.5s, color 0.5s;
}

.class-theme-dark #id-theme-toggle {
    background-color: #020202;
    color: #FFFFFFB0;
    transition: background-color 0.5s, color 0.5s;
}

.class-theme-dark .class-film-card {
    background-color: #020202;
    transition: background-color 0.5s;
}

.class-theme-dark .class-film-unwatched .class-film-title {
    background-color: #202020;
}

.class-theme-dark .class-film-unwatched .class-film-rating {
    background-color: #202020;
}