body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding: 2em 1em 0 1em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1em 1em;
}

#id-theme-toggle {
    border: none;
    border-radius: 0.5rem;
    font-family: 'Roboto', sans-serif;
    padding: 0.3em 0.4em 0.3em 0.4em;
    position: absolute;
    top: 0.5em;
    right: 1em;
}

.class-film-card {
    width: 30em;
    height: auto;
    border-radius: 0.8rem;
    padding: 1em;
}

@media (max-width: 1400px) {
    .class-film-card {
        width: 100%;
    }
}

.class-film-title {
    font-size: 2em;
    display: inline;
}

.class-film-unwatched .class-film-title {
    border-radius: 0.2rem;
    color: #00000000 !important; /* Important so that the theme colours don't override it. */
}

.class-rating {
    font-size: 2em;
    float: right;
    border-radius: 0.2rem;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
}

.class-rating.class-rating-small {
    font-size: 1em;
    width: auto;
    margin-left: 0.4em;
    padding: 0 0.3em 0 0.3em;
}

.class-rating-0 {
    background-color: #F4C7C3;
}
.class-rating-1 {
    background-color: #F5CDC0;
}
.class-rating-2 {
    background-color: #F7D4BD;
}
.class-rating-3 {
    background-color: #F8DAB9;
}
.class-rating-4 {
    background-color: #FAE1B6;
}
.class-rating-5 {
    background-color: #FCE8B2;
}
.class-rating-6 {
    background-color: #EFE7B7;
}
.class-rating-7 {
    background-color: #E1E6BC;
}
.class-rating-8 {
    background-color: #D3E4C2;
}
.class-rating-9 {
    background-color: #C5E3C7;
}
.class-rating-10 {
    background-color: #B7E1CD;
}

.class-film-review {
    clear: both;
    margin: 0.5em 0 0.5em 0;
}

.class-film-unwatched .class-film-review {
    width: 100%;
    height: 7em;
}

.class-film-word {
    float: left;
    font-style: italic;
}

.class-film-summary {
    font-size: 0.7em;
    color: #0000007e;
    margin-bottom: 0.5em;
}