.class-theme-light .class-film-card,
.class-theme-light #id-controls button,
.class-theme-light .class-popup {
    background-color: #e5e5e5;
    color: #000000f7;
    transition: background-color 0.5s, color 0.5s;
}

.class-theme-light,
.class-theme-light .class-film-unwatched .class-film-title,
.class-theme-light .class-film-unwatched .class-rating-large,
.class-theme-light .class-film-unwatched .class-rating-small,
.class-theme-light .class-film-unwatched .class-film-review,
.class-theme-light .class-popup button {
    background-color: #d0d0d0;
    color: #000000f7;
    transition: background-color 0.5s, color 0.5s;
}

.class-theme-light .class-film-summary,
.class-theme-light summary {
    color: #0000007e;
    transition: color 0.5s;
}

.class-theme-light .class-popup-hr {
    border-bottom: #d0d0d0 0.1rem solid;
    transition: border-bottom 0.5s;
}