body {
    font-family: 'Roboto', sans-serif;
    display: flex;
    padding-top: 2em;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    align-items: flex-start;
    gap: 1em 1em;
}

.class-theme-light {
    background-color: #d0d0d0;
    color: #000000F7;
    transition: background-color 0.5s, color 0.5s;
}

.class-theme-dark {
    background-color: #202020;
    color: #FFFFFFB0;
    transition: background-color 0.5s, color 0.5s;
}

#id-theme-toggle {
    border: 0.3em solid;
    border-radius: 0.5rem;
    background-color: #00000000;
    font-family: 'Roboto', sans-serif;
    padding: 0.1em 0.4em 0.1em 0.4em;
    position: absolute;
    top: 0.5em;
    right: 1em;
}

.class-theme-light #id-theme-toggle {
    border-color: #000000F7;
    color: #000000F7;
    transition: border-color 0.5s, color 0.5s;
}
.class-theme-dark #id-theme-toggle {
    border-color: #FFFFFFB0;
    color: #FFFFFFB0;
    transition: border-color 0.5s, color 0.5s;
}

.class-film-card {
    width: 30em;
    height: auto;
    min-height: 10em;
    border-radius: 0.8rem;
    padding: 1em;
}

.class-theme-light .class-film-card {
    background-color: #e5e5e5;
    transition: background-color 0.5s;
}

.class-theme-dark .class-film-card {
    background-color: #020202;
    transition: background-color 0.5s;
}

.class-film-title {
    font-size: 2em;
    float: left;
}

.class-film-rating {
    font-size: 2em;
    float: right;
    background-color: lightgreen;
    border-radius: 0.2rem;
    width: 1.2em;
    height: 1.2em;
    text-align: center;
}

.class-film-review {
    display: inline-block;
    margin-top: 0.5em;
}

.class-film-unwatched .class-film-title {
    color: #70707070;
}