.class-theme-dark .class-film-card,
.class-theme-dark #id-controls button,
.class-theme-dark .class-popup {
    background-color: #020202;
    color: #ffffffB0;
    transition: background-color 0.5s, color 0.5s;
}

.class-theme-dark,
.class-theme-dark .class-film-unwatched .class-film-title,
.class-theme-dark .class-film-unwatched .class-rating-large,
.class-theme-dark .class-film-unwatched .class-rating-small,
.class-theme-dark .class-film-unwatched .class-film-review,
.class-theme-dark .class-popup button {
    background-color: #202020;
    color: #ffffffB0;
    transition: background-color 0.5s, color 0.5s;
}

.class-theme-dark .class-rating-large,
.class-theme-dark .class-rating-small {
    color: #000000f7 !important; /* Important because I do not have theme colours on ratings yet, and need to use the light font here. */
}

.class-theme-dark .class-film-summary {
    color: #ffffff7e;
    transition: color 0.5s;
}

.class-theme-dark .class-popup-hr {
    border-bottom: #202020 0.1rem solid;
    transition: border-bottom 0.5s;
}